.clearfix {
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

body {
    background-image: url(../img/bg.jpg);
    font-family: 'Titillium Web', sans-serif;
	background-position: center top;
}

ul {
	padding: 0;
}

.wrapper {
	max-width:800px;
	margin: 0 auto; 
}

.elementList li {
	background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    padding: 1% 2%;
    margin: 2% 2%;
    list-style-type: none;
    width: 42%;
    display: inline-block;
    text-align: left;
}

.elementList li a, .elementList li a:visited {
	color:#333;
	font-size: 22px;
	text-decoration: none;
	line-height: 52px;
    display: block;
}

#search-txt {
	width: 80%;
    font-size: 23px;
    padding: 10px 23px;
    border-radius: 22px;
    border: 1px solid #ffbc73;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px #888888 inset;
    font-family: 'Titillium Web', sans-serif;
}


h1 {
	color: #5b2f00;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    text-align: center;
    font-size: 51px;
    line-height: 1em;
    margin-bottom: 23px;
}

section {
	text-align: center;
}

section .right-side {
	text-align: left;
}

span.symbol {
	background-color: #ff8500;
    border-radius: 28px;
    color: #fff;
    margin-right: 14px;
    width: 56px;
    line-height: 56px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2px;
}

.left-side {
    display: inline-block;
    width:19%;
    float:left;
    margin: 0 3% 0 0;
}

.left-side span:first-child {
    border:0;
}

.right-side {
	display: inline-block;
	width:75%;
	float:left;
}

.details-wrapper {
    background-color: rgba(255,255,255,0.7);
    border-radius: 30px;
    padding: 20px;
}


.details-wrapper .data {
    font-size: 42px;
    display: block;
    margin-top: 12px;
    line-height: 42px;
    border-top: 1px dashed #000;
	padding-top: 10px;
}

.details-wrapper .label {
	display: block;
}

.back-btn {
    float: right;
    background-color: #FFF;
    padding: 6px 38px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
}

.details-wrapper .small-data {
    font-size: 28px;
}

.element-image {
    width: intrinsic;
    background-image: url(img/elements/hydrogen.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255,255,255,0.4);
    margin-bottom: 15px;
}

@media (max-width: 550px) {
    .elementList li {
        width: 92%;
    }

    .details-wrapper .data {
        font-size: 30px;
    }

    .details-wrapper .label {
        font-size: 12px;
    }

    .details-wrapper .small-data {
        font-size: 12px;
    }
}